@import 'bootstrap-sprockets';
@import 'bootstrap';

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.mainmenu-area {
  background: none repeat scroll 0 0 #1abc9c;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}

.mainmenu-area ul.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: 222}

.mainmenu-area .nav > li > a:focus {color: #000}

.shopping-item {
  float: right;
  padding: 10px;
  margin-top: 70px;
  margin-right: 70px;
  position: relative;
}

.cart-amunt {
  color: #1abc9c;
  font-weight: 700;
}

.product-count {
  background: none repeat scroll 0 0 #1abc9c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 20px;
}

.shopping-item i.fa {
  margin-left: 15px;
}

.modal-header, h3, .close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
  margin-top: 5px;
}

.modal-footer {
  background-color: #f9f9f9;
}

.bt-login {
  background-color: #ff8627;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: background-color 300ms linear 0s;
  &:hover, &:active, &:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
  }
}

.login-tab {
  margin: 0 auto;
  max-width: 380px;
}

.login-modal-header {
  background: #27ae60;
  color: #fff;
  .modal-title, .close {
    color: #fff;
  }
}

.login-modal {
  i {
    color: #000;
  }
  form {
    max-width: 340px;
  }
}

.tab-pane form {
  margin: 0 auto;
}

.login-modal-footer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-f-image {
  position: relative;
}
.product-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;overflow: hidden;
}
.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;transition: .4s;
}
.product-hover a {
  background: none repeat scroll 0 0 #1abc9c;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 10%;
  margin: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #1abc9c;
  width: 80%;z-index: 99;transition: .4s;
}
.product-hover a:hover {
  background: #000;
  text-decoration: none;border-color: #444;
}
.product-carousel-price ins {
  color: #1abc9c;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.product-hover a i.fa {
  margin-right: 5px;
}

.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}
.single-product h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.single-product h2 a {
  color: #1abc9c;
}
.single-product p {
  color: #1abc9c;
  font-weight: 700;
}

.single-product {
  overflow: hidden;
  margin-top: 50px;
}

.single-product:hover {}
.single-product:hover .product-hover a.add-to-cart-link {top: 30%;}
.single-product:hover .product-hover a.view-details-link {bottom: 30%;}
.single-product:hover .product-hover:after{left: 0}

.carousel-inner .item img {
  display: block;
  margin: auto;
  width: 30%;
  height: 30%;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
  }

  .gravatar_edit {
    margin-top: 15px;
  }


.single-product-slide h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.single-product-slide h2 a {
  color: #1abc9c;
}
.single-product-slide p {
  color: #1abc9c;
  font-weight: 700;
}

.single-product-slide {
  overflow: hidden;
}
.single-product-slide:hover {}
.single-product-slide:hover .product-hover a.add-to-cart-link {top: 30%;}
.single-product-slide:hover .product-hover a.view-details-link {bottom: 30%;}
.single-product-slide:hover .product-hover:after{left: 0}

.recently_viewed {
  margin-top: 50px;
}

.new_product {
  margin-top: 50px;
}
